::-webkit-input-placeholder { font-weight :bold;}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#icon,.icono{
	color: black;
	position: absolute;
	margin-top: 15%;
}
.titulo {
    text-align: center;
    font-size: 18px;
    font-family: Verdana;
    padding: 2%;
    font-weight: bold;
}
.cabecera{
	border-bottom: 1px solid #6E6E6E;
}
.fondo{
	 background-color: #E6E6E6;
	 padding: 6% 0%;
	 border-bottom: 1px solid #A4A4A4;
}
.profile{
	border: 1px solid #A4A4A4;
    padding: 0.5%;
    height: 65px;
    width: 65px;
}
.conten-datos{
	padding: 3% 0%;
}
.caja1{
	border-bottom: 1px solid #A4A4A4;
	padding: 3% 0%;
}
.caja2{
	border-bottom: 1px solid #A4A4A4;
	padding: 2% 0%;
}
.text-span, .text{
	margin-left: 4%;
	color: #A4A4A4; 
}
.text,.txt{
	font-size: 13px;
}
.txt,.span-correo{
	margin-left: 2%;
	color: #A4A4A4; 
}
.conten-movil{
	padding: 3% 0%;
	margin-bottom: 3%;
}
.movil{
	margin-left: -56%;
	margin-top: 10%;
	width: 66vw;
	color: #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
}
.cruz{
	font-size: 20px;
}
.caja{
	border-top: 1px solid #A4A4A4;
}
#correo,.password{
	width: 100%;
}
.color-v{
	margin-left: 2%;
	color: #088A85;
	border-bottom: 1px solid #088A85;
	font-weight: bold;
	font-size: 13px;
}

.color-g{
	color: #585858;
	margin-top: 2%;
}
.tipos{
	margin-left: 5%;
	margin-top: 3%;
}
.form-control,.btn-bandera{
	border:transparent;
	border-bottom: 1px solid #A4A4A4;
	border-radius: 0px;
}
.bandera{
	width: 25px;
}
.btn-bandera{
 	padding-top: 6% ;
}
.caret{
	font-size: 20px;
}
.editar{
	background-color: #fff;
	position: absolute;
	width: 40%;
	height: 11%;
	top:0.5%;
	right: 0.5%;
	text-align: left;
	border: 1px solid #A4A4A4;
	padding: 1%;
	border-radius: 4px;
}
.editar a{
	color: black;
	text-decoration: none;
}
.ocultar{
	display: none;
}
/*.form-control:focus {
   	outline: -webkit-focus-ring-color auto 0px;
 	outline-style: none;
    box-shadow: none;
    border-color: lightgrey;
}
*/