* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	 overflow-x:hidden;
}
.fondo{
	background-image:url(../img/fondo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 85vh;
	width: 100vw;
}
.logo{
	margin-top: 25%;
}
.sesion,.registro{
	font-weight: bold;
	font-size: 1em;
}
.registro{
	background-color: black;
	color:#fff;
}
.conten-botones{
	position: absolute;
	bottom: 3%;
	width: 100%;
	left: 1%;
}
.btn-default {
	padding: 15px;
    line-height: 1.3333333;
    border-radius: 0px;
    border: 2px solid black;
}
